
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
}

/*
html {
    background: url("") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

#omega {
    width: 100vw;
    height: 100vh;
    display: block;
}

#about {
    background: url("images/city2.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 50%;
    float: left;
}

#about h1 {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 3em;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(64,64,64);
}

#about p:not(#joke) {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 5px;;
    color: rgb(64,64,64);
    margin-left: auto;
    margin-right: auto;
}

#about p span {
    color: rgb(188,12,38);
}

#joke {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 0.5em;
    margin-top: 5px;
    color: rgb(64,64,64);
    margin-left: auto;
    margin-right: auto;
}

#epic {
    background-color: rgb(126,45,34);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 50%;
    float: right;
}

#epic h2 {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(245,242,226);
}

#epic ul {
    margin: 20px auto 0px auto;
    text-align: center;
    list-style-type: disc;
}

#epic ul li {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(245,242,226);
}

.epicdeets {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.epicdeets div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#epic h6 {
    display: inline-block;
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(245,242,226);
}

#epic p {
    display: inline-block;
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 0.75em;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(245,242,226);
    text-align: center;
}

#rocket {
    height: 77px;
    width: 70px;
    margin: 30px 0px 10px 15px;
    float: left;
}

#darts {
    height: 75px;
    width: 80px;
    margin: 30px auto 10px auto;
}

#bulb {
    height: 76px;
    width: 46px;
    margin: 30px auto 10px auto;
}

#genass {
    background-color: rgb(40,154,183);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 50%;
    float: left;
}

#ga {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#genass p {
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 5px;;
    color: rgb(255,255,255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#contact {
    background: url("images/upside2.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 50%;
    float: right;
}

#contact h3 {
    margin-left: 20px;
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(64,64,64);
}

#contact p {
    margin-left: 20px;
    margin-top: 30px;
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: .75em;
    color: rgb(64,64,64);
}

.social {
    display: flex;
    position: fixed;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 20px;
 }

.social li {
    list-style-type: none;
    width: 45px;
    margin-right: 10px;
 }

.social li a {
    display: block;
    background-color: rgb(64,64,64);
    color: rgb(255,255,255);
    text-shadow: 1px 1px 0px rgb(0,0,0);
    border-right: 1px solid rgb(239,227,210);
    border-radius: 5px;
    justify-content: center;
  }

.social li a img {
    margin-top: 3px;
    margin-left: 6px;
}
